.datatable {
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .datatableTitle {
        width: 100%;
        font-size: 18px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-weight: 400;
            font-size: 14px;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
        }
    } 
    .table {

        .tableActions {
            display: flex;
            align-items: center;
            gap: 15px;

            .deleteButton{
                padding: 2px 5px;
                border-radius: 5px;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.6);
                cursor: pointer;
            }
            .editButton{
                padding: 2px 5px;
                border-radius: 5px;
                color: rgb(70, 184, 223);
                border: 1px dotted rgba(9, 126, 130, 0.6);
                cursor: pointer;
                list-style: none;
                text-decoration: none;
            }
        }
    }
    
}